<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062523485004-q57o2k6kkhed8kga3ef737vogm0s2lm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062523485004-q57o2k6kkhed8kga3ef737vogm0s2lm1</string>
	<key>API_KEY</key>
	<string>AIzaSyCmULN15gfG9vIRGQHMq5NE5LMt5-1jQ_w</string>
	<key>GCM_SENDER_ID</key>
	<string>1062523485004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicalMatcher</string>
	<key>PROJECT_ID</key>
	<string>musical-matcher</string>
	<key>STORAGE_BUCKET</key>
	<string>musical-matcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062523485004:ios:0902f88da31007272cade9</string>
</dict>
</plist>